@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --main-color:#300431;
    --color-dark:#02091f;
    --text-grey:#734290;  
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #734290;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .nav-link{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #f1f1f1;
      display: block;
      transition: 0.3s;
      margin-left: 10px;
    }

    .nav-link:hover {
      color: #734290;
    }

    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .nav-link{
        font-size: 18px;
      }
    }
header 
{
	margin-right: 50px;
	height: 50px;
	background: #734290;
	margin-bottom: 30px;
}
.btn {
	background-color:var(--text-grey);
	color: white;
	
}
.btn:hover
{
	background-color: var(--text-grey);
	color:white;
}

.col-sm-2
{
	align-content: center;
}
.container
{
    display: flex;
}
.grid{
    max-width: 1000px;
    margin: 25px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    align-items: center;
    padding-left: 12px;
    
}
.grid > article{
    background: #eee5e9;
    border:none;
     box-shadow: 0 0 30px rgba(0,0,0,0.5);
     border-radius: 20px;
     text-align: center;
     width: 250px;
     transition: transform .3s;
     margin-left: 20px;
     margin-bottom: 10px;
     width: 290px;
}
.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgb(0, 0,0,0.3);
}

.grid > article img{
    width: 100%;
    min-height: 70%;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.im{
margin-right: 1%;
margin-left: -4%;
}

@media(max-width: 760px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .grid > article{
        text-align: center;
    }
}
.im3{
    height: 50%;
}
.container-fluid{
    font-size: large;
      padding: 16px;
      background-color: #734290;
      margin-left: none;
      margin-right: 500px;
      width: 1000px;
      align-items: center;
      margin-top: 10px;
}
.container div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
}
